header{
    background-color: #996633;
}

footer{
    background-color: #654321;
}

main{
    background-color: #C5A171;
}

.navbar-brand img{
    width: 50px;
}

.font{
    font-family: 'Montserrat', sans-serif;
}

.bghome{
    background-image: url("../pict/background-pramuka-coklat-8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.justify-text {
    text-align: justify;
    text-justify: inter-word; /* Pengaturan untuk efek "justify" */
}
